body {
}

.logo {

}

input[type=button] {
    width: 200px;
}

input[type=submit] {
    width: 200px;
    
}

#CharitySlogan {
    text-align: left;
    font-size:71px;
}

.btn-home-page-link{
    border: 1px solid black;
    border-radius:15px;

}
.btn-home-page-link:hover{
    background-color:white;
    color:black;

}

.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

